* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;

}

body {
    height: 100%;
    background-color: #aabbaa;
}


.title {
  font-family: "Playfair Display", serif;
  font-size: 60px;
  font-weight: 400;
  font-style: normal;
  float: left;
  height: 70%;
  margin-left: 20px;
  padding: 15px 0px 15px 10px;
}

/* navagation links */


nav ul {
    list-style: none;
    text-align: right;
    padding-right: 30px;
    margin: 0;
    text-align:center;
}

nav li {
    font-size: 30px;
    line-height: 50px;
    height: 50px;
    display: inline-block;
    margin-left: 100px;
    padding-top: 30px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 200;
    font-style: normal;
}

nav a:hover {
    color:#800000;
}

.nav {
    text-align: right;
}

.nav .a {
    padding-left: 20px;
}

a, a:visited {
    color: black ;
    text-decoration: none !important;
}

/* Main page image */

#main-img-outer {
    height: 320px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text h2, #cover-text h3 {
    color: white;
    font-weight: 200;
}

#cover-text h2 {
    font-size: 33px;
}

#cover-text h3 {
    font-size: 25px;
}

#main-img {
    height: 320px;
    width: 100%;
    background: url('../images/Rotem-2.png') center center / cover no-repeat fixed;
} 

#cover-text {
    font-size: 40%;
    font-family: 'Noto Sans KR', sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    text-align: right;

    width: 320px;
    height: 70px;

    padding: 10px;

    background:rgba(0,0,0, 0.5);

    bottom: 60px;
    right: 10px;

    position:absolute;
}

/* About us */

#about h2 {
    text-align: center;
    margin:20px;
}

#about-us{
    padding: 10px;
    margin: 10px;
}

#about-us p {
    text-align: center;
}

/* Tour Section */

.tour-section {
    display: block;
    margin-left: 10%;
    margin-bottom: 10%;
    margin-top: 10%;
    /* background-color: #aabbaa; */
} 

.tour-section h2, 
.tour-section h4 {
    color:#800000;
}

.tour-section h2 {
    font-weight: bold;
    bottom: 60px;
}

.tour-card {
    margin-top: 5%;
    padding: 4% 0 0 5%;
    width: 90%;
    height: 150px;
    perspective: 1000px;
    font-family: 'Poppins', sans-serif;
    border-radius: 50px;
    background: #aabbaa;
    box-shadow:  20px 20px 60px #919f91,
             -20px -20px 60px #c4d7c4;
}

.tour-card .button {
    text-decoration: none;
    color: #800000;
}

.tour-button {
    padding-top: 2%;
}

.button {
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #aabbaa;
    border: 1px solid #aabbaa;
    transition: all .3s;
    box-shadow: 6px 6px 12px #919f91,
                -6px -6px 12px #c4d7c4;
   }
   
.button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #919f91,
                inset -4px -4px 12px #c4d7c4;
}

.button:hover  {
    text-decoration: none;
    color: #800000;
} 
   
/* Song Section */

.song-section {
    width: 100vw;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
}

.card-container {
    display: flex;
    gap: 30px;
    width: 100%;
    justify-content: center;
}

.card {
    position: relative;
    background-color: #aabbaa;
    border: #aabbaa;
    list-style: none;
    width: 220px;
    transition: .3s ease;
}

.card::before {
    content: "";
    display: block;
    padding-bottom: 150%;
    width: 100%;
}

.card-background {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    border-radius: 20px;
    background-size: 350px;
    background-position: center;
    filter: brightness(.9) saturate(1) contrast(1);
    transform-origin: bottom;
    transform: scale(1) translateZ(0);
    transition: .3s ease;
}

.card:hover .card-background {
    transform: scale(1.5) translateZ(0);
    background-size: 260px;
}

.card-container:hover .card:not(:hover) {
    transform: scale(.7);
}

.card-container:hover > .card:not(:hover) .card-background,
.card-container:hover > .card:not(:hover) .card-category {
    filter: brightness(.5) saturate(0) contrast(1.2) blur(20px)
}

.content {
    top: 50%;
    left: 0;
    padding: 25px;
    position: absolute;
}

.content-2 {
    top: 50%;
    left: 0;
    padding: 25px;
    position: absolute;
    color: #fff;
}

.card-category {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 5px;
    margin-bottom: 8px;
}

.card-heading {
    font-size: 25px;
    line-height: 1;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, .2);
}




/* Footer Section */


footer {
    height: 100px;
    background-color: #aabbaa;
    position: relative;
    top: 15px;
}

footer ul {
    list-style: none;
    text-align: left;
    padding:20px;
    margin-left:20px;
    display:inline-block;
    clear:right;
    position: relative;
    bottom: 10px;
    left: 10px;
    font-size: small;
}

footer li {
    font-size: 60%;
    line-height: 30px;
    height: 5px;
    display: inline-block;
    margin: 5px;
    position: relative;
    top: 30px;
}

footer a {
    color:black;
}

#f-contact {
    color: black;
    width: 50%;
    font-size: 100%;
    
    float: right;
    text-align: right;
    margin-right: 40px;

    position: relative;
}

#f-contact i {
    padding: 0 10px;
}

#social i {
    font-size: 400%;
    position: relative;
    bottom: 10px;
    margin-right:20px;
}
