body {
    height: 100%;
    background-color: #aabbaa;
}

.song-section {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

/* Container to hold the card */
.flip-card {
  width: 250px;
  perspective: 1000px; /*Enables 3D effect */
  transition: .7s ease;
}

/* Inner wrapper for front and back */
.flip-card-inner {
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

/* Flip on hover */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg) scale(1.4) translateZ(0);
}

.card-category {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 5px;
    margin-bottom: 8px;
}

.card-heading {
    font-size: 25px;
    line-height: 1;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, .9);
}  

.song-section:hover > .flip-card:not(:hover) .card-background {
    filter: brightness(.5) saturate(0) contrast(1.2) blur(20px);
    transform: scale(.7);
    z-index: 1; 
    
} 

.song-section:hover > .flip-card:not(:hover) .content  {
    transform: scale(.7);
    z-index: 2; 
} 


.content {
    top: 50%;
    padding: 25px;
    position: absolute;
}

/* Front and back faces */
.flip-card-front, .flip-card-back {
  height: 320px;
  backface-visibility: hidden; /* Hide the back when facing front */
  width: 220px;
}

/* Front face styling */
.flip-card-front {
  /* border: 2px solid #aabbaa; */
  position: absolute;

}

.card-background {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    border-radius: 23px;
    background-size: 350px;
    background-position: center;
    filter: brightness(.9) saturate(1) contrast(1);
}

/* Back face styling */
.flip-card-back {
  border-radius: 23px;
  background-position: center;
  transform: rotateY(180deg);
}
